
<div class="container">
  <div class="row">
    <div class="col-12">
      Hello and welcome to fredwillmore.com. I am using this site to augment my resume with links to personal projects created with Ruby on Rails!
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to "Climate Control", 'https://climate-control.fredwillmore.com', target: :blank %>
      <br>
      <%= link_to 'https://github.com/fredwillmore/climate-control', target: :blank %>
      <br>
      This project makes use of some playlist data I gathered when I DJed at the
      <%= link_to "Basement Pub", 'https://www.instagram.com/basementpub/?hl=en ', target: :blank %>
      in Portland, OR back in 2003.
      I have used Rails 7 with Hotwire/Stimulus to provide an interface for exploring the data, along with supplemental data from Spotify and other remote APIs.
      The matching with Spotify track and artist data is not perfect, but you get the idea.
    </div>
  </div>
</div>
